<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Hvengers</title>
    </head>
    <body>
        <div>
            <h1><a href="">Hvengers</a></h1>
            <p>published: 2019.07.15</p>
        </div>
        <div>
          <p>현재시간 : {{time}}</p>
        </div>
        <div>
            <br></br>
            <h2><a href="">police section</a></h2>
            <p>police content</p>

            <script language="javascript">
            $(function () {
              if (navigator.geolocation) { // GPS를 지원하면
                navigator.geolocation.getCurrentPosition(function(position) {
                  $('#latitude').html(position.coords.latitude);     // 위도
                  $('#longitude').html(position.coords.longitude); // 경도
                  //alert(position.coords.latitude + ' ' + position.coords.longitude);
                }, function(error) {
                    console.error(error);
                }, {
                    enableHighAccuracy: false,
                    maximumAge: 0,
                    timeout: Infinity
                });
              } else {
                alert('GPS를 지원하지 않습니다');
              }
            });
            //getLocation();
            </script>
            <ul>
              <li>위도:<span id="latitude"></span></li>
              <li>경도:<span id="longitude"></span></li>
            </ul>


        </div>

        <div>
            <br></br><br></br>
            <h2><a href="">pay service section</a></h2>
            <p>pay service content</p>
        </div>
    </body>
</html>
