<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Hvengers</title>
    </head>
    <body>
        <div>
            <h1><a href="">Hvengers</a></h1>
            <p>published: 2019.07.15</p>
        </div>
        <div>
          <p>현재시간 : {{time}}</p>
        </div>
        <div>
            <br></br>
            <h2><a href="">police section</a></h2>
            <p>police content</p>
        </div>

        <div>
            <br></br><br></br>
            <h2><a href="">pay service section</a></h2>
            <p>pay service content</p>
        </div>
    </body>
</html>
